[data-theme='dark'] {
  --color-main: #000;
  --color-secondary: #1e1e1e;
  --color-contrast: #fff;
}

[data-theme='light'] {
  --color-main: #f0f0f0;
  --color-secondary: #fff;
  --color-contrast: #000;
}

$color-main: var(--color-main);
$color-secondary: var(--color-secondary);
$color-contrast: var(--color-contrast);
$color-accent: #ffb300;
$color-silver: #bdbdbd;

$breakpoint-xs: 640px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1536px;
$breakpoint-hd: 1920px;

$height-header: 66px;
$height-footer: 58px;
